.skills {
    position: absolute;
    text-align: center;
    right: 5%;
}

.skills h2 {
    color: #1363DF;
    text-decoration: underline;
}
.skill-list {
    display: flex;
    width: 800px;
    flex-wrap: wrap;
    justify-content: center;


}

.skill-list > div {
    border: 1px dotted #0E185F;
    padding: 5px;
    border-radius: 25px;
    margin: 5px 4px;
    cursor: pointer;
    width: 95px;
    text-align: center;
    font-size: 14px;
}


.education {
    position: absolute;
    right: 15%;
    top: 5%;
}

.education h1 {
    text-align: center;
    text-decoration: underline;
    color: #1363DF;
}

